<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
><body>
    <%- include layout %>
   <div class="container">
    <h2>Welcome to My Blog</h2>
    <a href="/blog/add">เพิ่มบทความ</a>
    <a href="/">Back</a>
   </div>

</body>

</html>